# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
.venv/
*.sqlite3

# Environments
.env
.envrc

# IDEs
.idea/
.vscode/

# Alembic
alembic/__pycache__/
alembic/versions/__pycache__/

# Logs
*.log
